<%= window_head %>
<header class="window_header">
    <div class="blue_bar">
        <span><%= window_type %> : <%= data.nickname%></span>
        <ul>
            <li  title="Min" id="min">__</li>
            <li title="Max" id="max"></li>
            <li class="exit_b" title="exit"><button class="exit" 
                 popovertarget="<%= window_type %>" popovertargetaction="hide">✕</button>
                
            </li>
        </ul>
    </div>
    <menu type="toolbar">
        <span>File</span>
        <span>Edit</span>
        <span>View</span>
        <span>Favorite</span>
        <span>Tools</span>
        <span>Help</span>
    </menu>

    <menu type="context">
        <span><button>icon</button> <span></span></span>
        <span><button>icon svg</button></span>
        <span><button>home</button></span>
        <span><input type="search" name="explore" id="explore"></span>
        <span><button>sort</button></span>       
    </menu>

</header>
