<%= window_sprint %>

<%- include('./window_head', {window_head: ''}) %>  

<section class="window_content">

    <iframe
        title="sprint page"
        src="https://programma.fdnd.nl/data-driven-web/connect-your-tribe"
        id="FDND"
        loading="lazy"
        
    ></iframe>

</section>