<%= window_music %>
<%- include('./window_head', {window_head: ''}) %>  


<section class="window_content">

    <!-- <iframe
        title="music page"
        src="https://open.spotify.com/playlist/5sreN3dVcxw56cSMTgTF49"
        id="music"
        loading="lazy"
        
    ></iframe> -->

    <iframe 
    style="border-radius:0px" 
    src="https://open.spotify.com/embed/playlist/0dgpWrNmw7Lb5bdkcLJ1XU?utm_source=generator" 
    width="100%" 
    height="352" 
    frameBorder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy"
    id="spotify"></iframe>
    

</section>