<aside class="file_explorer"> 
    <ul>
        <p>some file</p>
        <li><img src="images/icon/21.ico" alt=""><span>file</span></li>
        <li><img src="images/icon/121.ico" alt=""><span>file</span></li>
        <li><img src="/images/icon/423.ico" alt=""><span>file</span></li>
        
    </ul>
    <ul>
        <p>more file</p>
        <li><img src="images/icon/1348.ico" alt=""><span>file</span></li>
        <li><img src="images/icon/1084.ico" alt=""><span>file</span></li>
        <li><button class="window_theme"><img src="images/icon/1005.ico" alt="theme button"></button><span>theme</span></li>
        <li><img src="/images/icon/975.ico" alt=""><span>file</span></li>
        
    </ul>
    
</aside>

